img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%; /* Tipografía base: 10px */
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
}

h1,
h2,
h3,
.secondary-font {
  font-family: "Roboto", "Palatino Linotype", Book Antiqua, Palatino, serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.9rem;
  line-height: 1.1;
}

a {
  color: #19181a;
}

.row {
  height: 540px;
  display: flex;
  justify-content: space-around;
}

.row2 {
  height: 400px;
  display: flex;
  align-items: flex-end;
}

.column {
  height: 540px;
  width: 500px;
}

.column2 {
  height: 150px;
  width: 250px;
}

.cabecera {
  text-align: center;
}

.icon {
  float: left;
}

.titulo {
  font-weight: 700;
}
