img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%; /* Tipografía base: 10px */
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #19181a;
}

h1,
.secondary-font {
  font-family: "Roboto", "Palatino Linotype", Book Antiqua, Palatino, serif;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
}

.cabecera {
  text-align: center;
}

.icon {
  float: left;
  background: #f8a244;
  text-align: center;
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 50%;
}

.titulo {
  font-weight: 900;
}

hr {
  border: 0;
  border-top: 1.9px solid #f8a244;
  width: 400px;
}

@media (min-width: 960px) {
  .row {
    height: 540px;
    display: flex;
    justify-content: space-around;
  }

  .row2 {
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center; /* Nao funciona? */
  }

  .column {
    height: 540px;
    width: 500px;
  }

  .column2 {
    height: 150px;
    width: 250px;
  }
}
